
       
table{    
     border: 5px solid ;
     color: red;
     } 

th{
  border: 3px solid;
  color:blueviolet
  }
.especial{
    color: rgba(231, 20, 178, 0.336);
         }

td{
    border: 3px solid;
    color: red;
    font-family: Impact, sans-serif;
}

td strong{
    color: yellow ; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         }

#titulo{
    color:teal
}

strong{
    color: rgb(255, 0, 102);
}

.destacado{
    color:rgb(241, 226, 13)
}

#subtitulo{
    color: rgba(38, 255, 0, 0.78);
}

.captionc{
    border: 5px solid; 
    color: rgb(247, 231, 3); 
    font-size: 50px;
}

#adicional{
    font-family: Impact;
    color: rgb(24, 16, 4);
}

#adiconal, span{
    color: red;
      }

#especial{
    color: aquamarine;
     font-size: 20px
       }

#adicional a {
    color: #e4d504;
        } 
a {
    color: rgb(187, 126, 126);
font-family: impact, italic;
font-size: 15px;
        }