
/* 1) Todos los párrafos de la página */
p{
    color: fuchsia;
}

/* 2) Todos los párrafos de la página de la clase "especial"*/
p.especial{
    color: blue;
}

/* 3) Todos los encabezados de los tres primeros niveles de la página */

h1, 
h2, 
h3{
    color:#ff334f;
}

/* 4) Todos los elementos de la clase "destacada" */

.destacada{
    color: rgb(0, 255, 255);
}

/* 5) Todos los párrafos de la página y los elementos "strong" de la clase "destacada"*/
p,
strong.descatada{
    color: #33ff9c;
}

/* 6) Todos los párrafos de la página y los elementos de la clase "destacada"*/

p,
.destacada{
    color: #ffc433;
}

/* 7) Todos los enlaces que tengan el atributo "target" con el valor "_blank"*/

a[target="_blank"]{
    color: #ff3374;
}

/* 8) Los enlaces visitados*/
a:visited{
    color:rgb(238, 255, 0)
}

/* 9) Enlace activado con el click del mouse*/

a:active{
    color: brown;
}

/* 10) Los Enlaces no visitados*/
a:link{
    color: red;
}

/* 11) El Enlace sobre el que el usuario coloca el puntero del mouse*/

a:hover{
    color: blue;
}