 /* 1) Todos los parrafos de la pagina */ 
 p{color:rgb(255, 0, 200)}
          
 /* 2  Todos los parrafos de la paginade la clase "especial" */
 p.especial{color: rgb(255, 0, 0);}

 /* 3) Todos los encabezados de los tres primeros niveles de la pagina */
 h1, h2, h3{color:#3366ff} 

 /* 4) Todos los elementos de la clase "destacada" 
OJO LA CLASE MANDA SOBRE EL ELEMENTO ANTERIOR */    
.destacada{color: rgb(0,255,255);}

 /* 5) Todos los parrafos de la pagina y los elementos "strong" de la clase ".destacada"  se arranca con P que es parrafo, strong es la etiqueta y .destacada es la clase */
p,strong.destacada{color: #ff7a33;}

/* 6) Todos los parrafos de la pagina y los elementos de la clase ".destacada" */

p,.destacada{color: rgb(194, 205, 196);}

/* 7) Todos los enlaces que tengan el atributo "target" con valor "_blank" */
a[target="_blank"]{color: #ff3374;}

/* 8) Color para los enlaces visitados*/ 
a:visited{color: rgb(227, 227, 17);}
a:active{color: brown;}
a:link{color: rgb(75, 42, 165);}

/* 9) Color cambia cuando pasas el cursor*/
a:hover{color: blue;}